
/*.layui-tab{*/
/*    margin-top: 15%;*/
/*    margin-left: 10%;*/
/*}*/
/*.layui-col-md5 {*/
/*    height: 100%;*/
/*}*/
/*.layui-tab-title{*/
/*    !*background-color: #2E2D3C;*!*/
/*    margin-right: 45%;*/
/*}*/


.reg{

    color: blue;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#test4{
    margin-left: 70%;
}
#test3{
    margin-left: 40%;
    margin-top: 10%;
}
#test2{

    margin-left: 62%;
}
#test1{
    margin-left: 1.5%;
    width: 41%;
}

