
.reg{

  color: blue;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#test4{
  margin-left: 70%;}
#test3{
  margin-left: 40%;
  margin-top: 10%;}
#test2{

  margin-left: 62%;
}
#test1{
  margin-left: 1.5%;
  width: 41%;}
#btn1{
  width: 30%;
}
#btn1,#btn2,#btn3{
  width: 33.333%;

}


#loginRoleDiv{
  /*   border: 1px red  solid; */
  width: 40% ;
  margin-left: 2%;
}

#btn1:hover{background-color: #a78369}
#btn2:hover{background-color: #a78369;}
#btn3:hover{background-color: #a78369;}


