
.reg{

  color: blue;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#test4{
  margin-left: 70%;
#test3{
  margin-left: 40%;
  margin-top: 10%;
#test2{

  margin-left: 62%;
}
#test1{
  margin-left: 1.5%;
  width: 41%;