<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.drivingsys.dao.ChartsMapper">


    <!--驾校端对教练的用户列表查询-->
    <select id="queryStudentByCoach" resultType="com.drivingsys.bean.echarsParam" >
     select count(*) num, pname,pid from  consumer,practise
     where cpritiseid=pid  group by cpritiseid order by num desc ;

    </select>

    <!--查询各个驾校的价格-->
    <select id="querySchoolPrice" resultType="com.drivingsys.bean.echarsParam" >
   select  dprice,dname from  drivingschool

    </select>


    <!--分时间段统计每个驾校的学员-->
    <select id="newStudentByTime" resultType="com.drivingsys.bean.echarsParam" parameterType="map">
     select count(*) num,d.dname dname from examination e left join  consumer c on e.cid=c.cid ,drivingschool d
      where d.did=e.did and   e.esubmittime &gt;= #{beginDay}  and e.esubmittime &lt;= #{endDay}
       group  by  e.did


    </select>
</mapper>
	