<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.drivingsys.dao.DrivingSchoolInfoMapper">

	<select id="querySchoolInfoByDid" resultMap="Exam" parameterType="java.lang.String">
         select  d.*,e.*,c.cname stName from  drivingschool d,examination  e, consumer c
          where  d.did =#{did}  and  e.did=d.did and c.cid =e.cid  ;
	</select>
	<resultMap id="Exam" type="com.drivingsys.bean.Drivingschool">
		<result property="did" column="did"/>
		<result property="daccountstate" column="daccountstate"/>
		<result property="daccount" column="daccount"/>
		<result property="dpassword" column="dpassword"/>
		<result property="darea" column="darea"/>
		<result property="daddress" column="daddress"/>
		<result property="dcity" column="dcity"/>
		<result property="dtelephone" column="dphone"/>
		<result property="demail" column="demail"/>
		<result property="dsynopsis" column="dsynopsis"/>
		<result property="dname" column="dname"/>
		<result property="dcontacts" column="dcontacts"/>
		<result property="dprice" column="dprice"/>
		<result property="studentName" column="stName" />
		<result property="devaluatescore" column="devaluatescore" />
		<result property="drecruit" column="drecruit" />
		<result property="dcontacts" column="dcontacts" />
		<result property="denrollnum" column="denrollnum" />
		<result property="dgraduationnum" column="dgraduationnum" />
		<result property="dphone" column="dphone" />
		<result property="dprovince" column="dprovince" />
		<result property="drecruitstate" column="drecruitstate" />
		<result property="dregtime" column="dregtime" />
		<result property="dschoolimage" column="dschoolimage" />
		<result property="latitude" column="latitude" />
		<result property="longitude" column="longitude" />
		<result property="dshenhestate" column="dshenhestate" />

		<collection property="examination" ofType="com.drivingsys.bean.Examination" javaType="com.drivingsys.bean.Examination">
			<result property="edrivingcontent" column="edrivingcontent" />
			<result property="edrivingcontenttime" column="edrivingcontenttime" />
			<result property="edrivingscore" column="edrivingscore" />

		</collection>

	</resultMap>

    <select id="querySchoolKeCheng" resultType="com.drivingsys.bean.Kecheng" parameterType="java.lang.String">
         select  * from  kecheng
          <where>
           and    did= #{did}
          </where>

	</select>


 <insert id="insertBaoMing" parameterType="java.util.Map">
	  insert  into examination(cid,did,evehicletype,eorderstate,esubmittime) values (${cid},${did},${kjiazhaoleixing},-1,${time})

 </insert>





</mapper>
	