<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.drivingsys.dao.DrivingSchoolManageMapper">


	<!--驾校查找全部的教练-->
	<select id="queryCoachByDid" resultType="com.drivingsys.bean.Practise" parameterType="java.lang.String">
		select  * from  practise
		<where>
			and  pdrivingid =#{did}
		</where>
	</select>

	<!--驾校端对教练的用户列表查询-->
	<select id="queryCoachByMySchool" resultType="com.drivingsys.bean.Practise" parameterType="map">
		select  * from  practise
		<where>
			and  pdrivingid =#{selectParam.driverSchoolId}
			<if test="selectParam.userAccount!=null and selectParam.userAccount.trim()!='' ">
				and   paccount like '%${selectParam.userAccount}%'
			</if>
			<if test="selectParam.username!=null and selectParam.username.trim()!='' ">
				and   pname like '%${selectParam.username}%'
			</if>
			<if test="selectParam.startTime!=null and selectParam.startTime!='' ">
				and  pregtime &gt;=#{selectParam.startTime}
			</if>
			<if test="selectParam.stopTime!=null and selectParam.stopTime!='' ">
				and  pregtime &lt;=#{selectParam.stopTime}
			</if>
		</where>
	</select>
	<select id="queryCoachByMySchoolCount" resultType="long" parameterType="map">
		select  count(*) from  practise
		<where>
			and  pdrivingid =#{selectParam.driverSchoolId}
			<if test="selectParam.userAccount!=null and selectParam.userAccount.trim()!='' ">
				and   paccount like '%${selectParam.userAccount}%'
			</if>
			<if test="selectParam.username!=null and selectParam.username.trim()!='' ">
				and   pname like '%${selectParam.username}%'
			</if>
			<if test="selectParam.startTime!=null and selectParam.startTime!='' ">
				and  pregtime &gt;=#{selectParam.startTime}
			</if>
			<if test="selectParam.stopTime!=null and selectParam.stopTime!='' ">
				and  pregtime &lt;=#{selectParam.stopTime}
			</if>
		</where>
	</select>
	<!--驾校端对教练的用户列表查询-->

	<!--教练的账号启用禁用，修改密码，逻辑删除-->
	<update id="updateCoachStateByPid"  parameterType="java.util.Map">
		update practise
		<set>
			paccountstate = #{paccountstate}
			<where>
				pid =#{pid}
			</where>
		</set>
	</update>
	<update id="updateCoachPwdByPid"  parameterType="java.util.Map">
		update practise
		<set>
			ppassword =#{ppassword}
			<where>
				pid =#{pid}
			</where>
		</set>
	</update>
	<!--教练的账号启用禁用，修改密码，逻辑删除-->

	<!--驾校端对学员的用户列表查询，需和订单表绑定-->
	<select id="queryStudentByMySchool" resultType="com.drivingsys.bean.Consumer" parameterType="map">
		select * from examination  as e left join consumer  as c  on c.cid=e.cid left join practise as p on e.pid =p.pid
		left join  drivingschool d  on  e.did=d.did
		<where>
			<if test="selectParam.cid!=null and selectParam.cid.trim()!='' ">
				and c.cid like '%${selectParam.cid}%'
			</if>
			<if test="selectParam.state!=null and selectParam.state!='' ">
				and  c.cstate=#{selectParam.state}
			</if>
			<if test="selectParam.did!=null and selectParam.did.trim()!='' ">
				and  e.did =#{selectParam.did}
			</if>
			<if test="selectParam.cpritiseid!=null and selectParam.cpritiseid.trim()!='' ">
				and  cpritiseid =#{selectParam.cpritiseid}
			</if>
			<if test="selectParam.pidSearch!=null and selectParam.pidSearch.trim()!='' ">
				and  cpritiseid =#{selectParam.pidSearch}
			</if>
			<if test="selectParam.userAccount!=null and selectParam.userAccount.trim()!='' ">
				and   caccount like '%${selectParam.userAccount}%'
			</if>
			<if test="selectParam.username!=null and selectParam.username.trim()!='' ">
				and   cname like '%${selectParam.username}%'
			</if>
			<if test="selectParam.startTime!=null and selectParam.startTime!='' ">
				and  cregtime &gt;=#{selectParam.startTime}
			</if>
			<if test="selectParam.stopTime!=null and selectParam.stopTime!='' ">
				and  cregtime &lt;=#{selectParam.stopTime}
			</if>
		</where>
	</select>
	<!--驾校端对学员的用户列表查询，需和订单表绑定-->

	<select id="queryStudentByMySchoolCount" resultType="long" parameterType="map">
		select count(*) from examination  as e left join consumer  as c  on c.cid=e.cid left join practise as p on e.pid =p.pid
		left join  drivingschool d  on  e.did=d.did
		<where>
			<if test="selectParam.cid!=null and selectParam.cid.trim()!='' ">
				and c.cid like '%${selectParam.cid}%'
			</if>
			<if test="selectParam.state!=null and selectParam.state!='' ">
				and  c.cstate=#{selectParam.state}
			</if>

			<if test="selectParam.did!=null and selectParam.did.trim()!='' ">
				and  e.did =#{selectParam.did}
			</if>
			<if test="selectParam.cpritiseid!=null and selectParam.cpritiseid.trim()!='' ">
				and  cpritiseid =#{selectParam.cpritiseid}
			</if>
			<if test="selectParam.pidSearch!=null and selectParam.pidSearch.trim()!='' ">
				and  cpritiseid =#{selectParam.pidSearch}
			</if>
			<if test="selectParam.userAccount!=null and selectParam.userAccount.trim()!='' ">
				and   caccount like '%${selectParam.userAccount}%'
			</if>
			<if test="selectParam.username!=null and selectParam.username.trim()!='' ">
				and   cname like '%${selectParam.username}%'
			</if>
			<if test="selectParam.startTime!=null and selectParam.startTime!='' ">
				and  cregtime &gt;=#{selectParam.startTime}
			</if>
			<if test="selectParam.stopTime!=null and selectParam.stopTime!='' ">
				and  cregtime &lt;=#{selectParam.stopTime}
			</if>
		</where>
	</select>
	<!--驾校端对学员的用户列表查询-->

	<!--学员的账号启用禁用，修改密码，逻辑删除-->

	<update id="updateStudentStateByCid"  parameterType="java.util.Map">
		update consumer
		<set>
			cstate = #{cstate}
			<where>
				cid =#{cid}
			</where>
		</set>
	</update>
	<update id="updateStudentPwdByCid"  parameterType="java.util.Map">
		update consumer
		<set>
			cpassword =#{cpassword}
			<where>
				cid =#{cid}
			</where>
		</set>
	</update>
	<!--学员的账号启用禁用，修改密码，逻辑删除-->


	<!--通过驾校ID和教练ID，查看该教练是否存在-->
	<select id="queryCoachByPidAndDid" resultType="com.drivingsys.bean.Practise" parameterType="map">
		select * from practise
		<where>
			<if test="selectParam.pid!=null and selectParam.pid!='' ">
				and  pid = #{selectParam.pid}
			</if>
			<if test="selectParam.did!=null and selectParam.did!='' ">
				and  pdrivingid =#{selectParam.did}
			</if>

		</where>
	</select>
	<!--通过驾校ID和教练ID，查看该教练是否存在-->




	<!--修改学员表的所属教练一栏，将其和教练绑定-->
	<update id="updateStudentTheCoachId"  parameterType="java.util.Map">
		update consumer
		<set>
			cpritiseid =#{selectParam.pid}
			<where>
				cid =#{selectParam.cid}
			</where>
		</set>
	</update>
	<!--修改学员表的所属教练一栏，将其和教练绑定-->

	<!--修改订单表的教练一栏，将其和教练绑定-->
	<update id="updateOrderTheCoachId"  parameterType="java.util.Map">
		update examination
		<set>
			pid =#{selectParam.pid}
			<where>
				cid =#{selectParam.cid}
			</where>
		</set>
	</update>
	<!--修改订单表的教练一栏，将其和教练绑定-->

	<!--根据审核的情况，修改订单表的订单状态一栏-->
	<update id="updateOrderState"  parameterType="java.util.Map">
		update examination
		<set>
			<if test="selectParam.cpritiseid!=null and selectParam.cpritiseid!='' ">
				and  cpritiseid =#{selectParam.cpritiseid}
			</if>
			eorderstate =#{selectParam.orderState}
			<where>
				cid =#{selectParam.cid}
			</where>
		</set>
	</update>
	<!--根据审核的情况，修改订单表的订单状态一栏-->

	<!--安排考试，确认考试时间-->
	<update id="updateOrderKaoshiTime"  parameterType="java.util.Map">
		update examination
		<set>
			<if test="kaoShiParam.test1!=null and kaoShiParam.test1!='' ">
				etesttime1 =#{kaoShiParam.kaoShiTime1}
			</if>
			<if test="kaoShiParam.test2!=null and kaoShiParam.test2!='' ">
				etesttime2 =#{kaoShiParam.kaoShiTime2}
			</if>
			<if test="kaoShiParam.test3!=null and kaoShiParam.test3!='' ">
				etesttime3 =#{kaoShiParam.kaoShiTime3}
			</if>
			<if test="kaoShiParam.test4!=null and kaoShiParam.test4!='' ">
				etesttime4 =#{kaoShiParam.kaoShiTime4}
			</if>
			<where>
				cid =#{kaoShiParam.cid} and	pid =#{kaoShiParam.pid}
			</where>
		</set>
	</update>
	<!--安排考试，确认考试时间-->


	<!--通过驾校和教练ID，查看该教练所收到的评价-->
	<select id="queryCoachEval" resultMap="consumerInfo" parameterType="map">
		select * from examination e,consumer c
		<where>
			e.cid=c.cid
			<if test="pid!=null and pid.trim()!='' ">
				and e.pid =#{pid}
			</if>
			<if test="did!=null and did.trim()!='' ">
				and e.did =#{did}
			</if>
		</where>
		order by epractisecontenttime desc
	</select>
	<resultMap id="consumerInfo" type="com.drivingsys.bean.Examination">
		<collection property="consumer1" ofType="com.drivingsys.bean.Consumer" javaType="com.drivingsys.bean.Consumer">
			<id property="cid" column="cid" />
			<result property="cname" column="cname" />
			<result property="epractisecontent" column="epractisecontent" />
			<result property="epractisecontenttime" column="epractisecontenttime" />
		</collection>
	</resultMap>
	<!--通过驾校和教练ID，查看该教练所收到的评价-->

	<!--通过驾校和学员ID，查看该学员所有的评价-->
	<select id="queryStudentAllEval" resultMap="cInfo" parameterType="map">
		select * from examination e,consumer c,practise p,drivingschool d
		<where>
			p.pid=e.pid and e.cid=c.cid  and e.did=d.did

			<if test="cid!=null and cid.trim()!='' ">
				and c.cid =#{cid}
			</if>
			<if test="did!=null and did.trim()!='' ">
				and e.did =#{did}
			</if>
		</where>
		order by epractisecontenttime desc
	</select>
	<resultMap id="cInfo" type="com.drivingsys.bean.Examination">
		<result property="dname" column="dname" />

		<collection property="consumer1" ofType="com.drivingsys.bean.Consumer" javaType="com.drivingsys.bean.Consumer">
			<id property="cid" column="cid" />
			<result property="cname" column="cname" />
			<result property="epractisecontent" column="epractisecontent" />
			<result property="epractisecontenttime" column="epractisecontenttime" />
			<result property="edrivingcontent" column="edrivingcontent" />
			<result property="edrivingcontenttime" column="edrivingcontenttime" />
			<result property="pname" column="pname" />


		</collection>
	</resultMap>
	<!--通过驾校和教练ID，查看该教练所收到的评价-->

	<!--通过教练ID，查看该教练的个人-->
	<select id="queryPractiseById" resultType="com.drivingsys.bean.Practise" parameterType="java.lang.String">
		select * from practise
		<where>
			and pid =#{pid}
		</where>
	</select>

	<!--查看全部驾校-->
	<select id="queryAllSchool" resultType="com.drivingsys.bean.Drivingschool">
		select * from drivingschool

	</select>

	<!--查看全部驾校-->
	<select id="queryAllPractise" resultType="com.drivingsys.bean.Practise">
		select * from practise

	</select>

</mapper>
