<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drivingsys.dao.LogMapper">

    <insert id="insertNewLog" parameterType="com.drivingsys.bean.Log">
        insert into log(loperatorid, lrole, ltype, lbehavior, lip, ltime, lmethod)
        values (#{loperatorid},#{lrole},#{ltype},#{lbehavior},#{lip},#{ltime},#{lmethod})
    </insert>

    <select id="queryAllLogWithLimit" resultType="com.drivingsys.bean.Log">
		select * from log order by ltime desc limit #{start},${limit}
    </select>

    <select id="queryAll" resultType="java.lang.Integer">
		select count(*) from log
    </select>

    <select id="queryLogWithParamTotalNum" parameterType="java.util.HashMap" resultType="integer">
        select count(*) from log
        <where>
            <if test="start !=null and start!='' and end !=null and end !=''">
                and ltime between #{start} and #{end}
            </if>
            <if test="opeid !=null and opeid!=''">
                and loperatorid like CONCAT('%','${opeid}','%')
            </if>
            <if test="opetype !=null and opetype!=''">
                and ltype like CONCAT('%','${opetype}','%')
            </if>
            <if test="opename !=null and opename!=''">
                and lbehavior like CONCAT('%','${opename}','%')
            </if>
            <if test="operole !=null and operole!=''">
                and lrole=#{operole}
            </if>
            <if test="opeip !=null and opeip!=''">
                and lip like CONCAT('%','${opeip}','%')
            </if>
        </where>
    </select>

    <select id="queryLogWithParam" parameterType="java.util.HashMap" resultType="com.drivingsys.bean.Log">
        select * from log
        <where>
            <if test="start !=null and start!='' and end !=null and end !=''">
                and ltime between #{start} and #{end}
            </if>
            <if test="opeid !=null and opeid!=''">
                and loperatorid like CONCAT('%','${opeid}','%')
            </if>
            <if test="opetype !=null and opetype!=''">
                and ltype like CONCAT('%','${opetype}','%')
            </if>
            <if test="opename !=null and opename!=''">
                and lbehavior like CONCAT('%','${opename}','%')
            </if>
            <if test="operole !=null and operole!=''">
                and lrole=#{operole}
            </if>
            <if test="opeip !=null and opeip!=''">
                and lip like CONCAT('%','${opeip}','%')
            </if>
        </where>
        order by ltime desc limit ${statrNum},${limit}
    </select>

</mapper>
	