<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.drivingsys.dao.ManageDSCMapper">
<!--查驾校数目-->
    <select id="queryDSCcount" resultType="long" parameterType="java.lang.Object">
        select count(*) from drivingschool
        <where>

            <if test="dname!=null and dname.trim()!=''">
                and dname like '%${dname}%'
            </if>
            <if test="dcontacts!=null and dcontacts!=''">
                and dcontacts like '%${dcontacts}%'
            </if>
            <if test="daccountstate!=null and daccountstate!=''">
                and daccountstate = #{daccountstate}
            </if>
        </where>
    </select>



<!--查驾校信息-->
    <select id="queryDSC" resultType="com.drivingsys.bean.Drivingschool" parameterType="java.lang.Object">
        select * from drivingschool
        <where>
             and daccountstate !=0
            <if test="dname!=null and dname.trim()!=''">
                and dname like '%${dname}%'
            </if>
            <if test="dcontacts!=null and dcontacts.trim()!=''">
                and dcontacts like '%${dcontacts}%'
            </if>
            <if test="daccountstate!=null and daccountstate.trim()!='' and daccountstate!='0'">
                and daccountstate = #{daccountstate}
            </if>
        </where>
    </select>


    <update id="delDSC" parameterType="java.util.List">
        update drivingschool set daccountstate="3" where did in
        <foreach collection="list" index="index" item="item" separator=","  open="(" close=")">
            #{item.did}

        </foreach>
    </update>

<!--    查看对驾校的评价-->
    <select id="querySTUpj" parameterType="map" resultMap="empmap">
        select  d.did,e.* ,c.cname,c.caccount from  drivingschool d,examination e,consumer c
        <where>
            and d.did=e.did and c.cid=e.cid
            <if test="did!=null and did!='' ">
                and  d.did =#{did}
            </if>
        </where>

    </select>
    <select id="querySTUpjcount" parameterType="map" resultType="long">
        select count(*) from  drivingschool d,examination e,consumer c
        <where>
            and d.did=e.did and c.cid=e.cid
            <if test="did!=null and did!='' ">
                and  d.did =#{did}
            </if>
        </where>

    </select>

    <resultMap id="empmap" type="com.drivingsys.bean.Examination">
        <result property="cid" column="cid"/>
        <result property="did" column="did"/>
        <result property="edrivingscore" column="edrivingscore"/>
        <result property="edrivingcontent" column="edrivingcontent"/>
        <collection property="consumer" column="cid" ofType="com.drivingsys.bean.Consumer"  javaType="java.util.ArrayList">
            <result property="cname" column="cname"/>
            <result property="caccount" column="caccount"/>
        </collection>
    </resultMap>

<select id="echaretstest" resultType="com.drivingsys.bean.echartstest.echaretsDSC">

SELECT COUNT(practise.pid) as renshu
,pdrivingid,drivingschool.dname
FROM practise, drivingschool
WHERE practise.pdrivingid=did
GROUP BY pdrivingid;

</select>
    <select id="queryqianDSC" resultType="com.drivingsys.bean.Drivingschool" parameterType="map">
        select * from drivingschool
        <where>
            <if test="province!=null and province.trim()!=''">
                and dprovince = #{province}
            </if>
            <if test="city!=null and city.trim()!=''">
                and dcity = #{city}
            </if>
            <if test="county!=null and county.trim()!=''">
                and darea = #{county}
            </if>
        </where>
        limit 0,10
    </select>

    <select id="QueryDSCshenhe" resultType="com.drivingsys.bean.Drivingschool" parameterType="java.lang.Object">
        select * from drivingschool
        <where>
          and  daccountstate =0
            <if test="dname!=null and dname.trim()!=''">
                and dname like '%${dname}%'
            </if>
            <if test="dcontacts!=null and dcontacts!=''">
                and dcontacts like '%${dcontacts}%'
            </if>
            <if test="dshenhestate!=null and dshenhestate!=''">
                and dshenhestate = #{dshenhestate}
            </if>
        </where>
    </select>


    <select id="QueryDSCshenheCount" resultType="long" parameterType="java.lang.Object">
        select count(*) from drivingschool
        <where>
            and  daccountstate =0
            <if test="dname!=null and dname.trim()!=''">
                and dname like '%${dname}%'
            </if>
            <if test="dcontacts!=null and dcontacts!=''">
                and dcontacts like '%${dcontacts}%'
            </if>
            <if test="dshenhestate!=null and dshenhestate!=''">
                and dshenhestate = #{dshenhestate}
            </if>
        </where>
    </select>


<update id="updatedscinfo" parameterType="map">
    update drivingschool
    <set>
        <if test="username!=null and username.trim()!=''">
            daccount=#{username},
        </if>
        <if test="dcontacts!=null and dcontacts.trim()!=''">
            dcontacts=#{dcontacts},
        </if>
        <if test="password!=null and password.trim()!=''">
            dpassword=#{password},
        </if>
        <if test="phone!=null and phone.trim()!=''">
            dphone=#{phone},
        </if>
        <if test="dname!=null and dname.trim()!=''">
            dname=#{dname},
        </if>
        <if test="province!=null and province.trim()!=''">
            dprovince=#{province},
        </if>
        <if test="city!=null and city.trim()!=''">
            dcity=#{city},
        </if>
        <if test="county!=null and county.trim()!=''">
            darea=#{county},
        </if>
        <if test="cost!=null and cost.trim()!=''">
            dprice=#{cost},
        </if>
        <if test="remark!=null and remark.trim()!=''">
            dsynopsis=#{remark},
        </if>
<!--        <if test="email!=null and email.trim()!=''">-->
<!--            demail=#{email},-->
<!--        </if>-->
    </set>
    where did=#{did}
</update>



<insert id="instertkecheng" parameterType="map">
    insert into kecheng (kid, did, kname, kjianjie, kprice, kjiazhaoleixing, beizhu, kcosttime, kshijianduan)
    values (null ,#{did},#{kname},#{kjianjie},#{kprice},#{kjiazhaoleixing},#{beizhu},#{kcosttime},#{kshijianduan})
</insert>


<update id="updatakecheng" parameterType="map">
    update kecheng
    <set>
        <if test="kname!=null and kname.trim()!=''">
            kname=#{kname},
        </if>
        <if test="kjianjie!=null and kjianjie.trim()!=''">
            kjianjie=#{kjianjie},
        </if>
        <if test="beizhu!=null and beizhu.trim()!=''">
            kprice=#{kprice},
        </if>
        <if test="kjiazhaoleixing!=null and kjiazhaoleixing.trim()!=''">
            kjiazhaoleixing=#{kjiazhaoleixing},
        </if>
        <if test="beizhu!=null and beizhu.trim()!=''">
            beizhu=#{beizhu},
        </if>
        <if test="kcosttime!=null and kcosttime.trim()!=''">
            kcosttime=#{kcosttime},
        </if>
        <if test="kshijianduan!=null and kshijianduan.trim()!=''">
            kshijianduan=#{kshijianduan},
        </if>
    </set>
    where kid=#{kid}
</update>

<delete id="delkecheng" parameterType="map">
    DELETE FROM kecheng WHERE kid=#{kid}
</delete>

    <insert id="instertimage" parameterType="map">
        INSERT INTO dschoolimages (did, lujing, leixing)
        values (#{did},#{lujing},#{leixing})
    </insert>



</mapper>
	