<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.drivingsys.dao.ManageDSCMapper">


    <select id="queryDSC" resultType="com.drivingsys.bean.Drivingschool" parameterType="java.lang.Object">
        select * from drivingschool
        <where>

            <if test="dname!=null and dname.trim()!=''">
                and dname like '%${dname}%'
            </if>
            <if test="dcontacts!=null and dcontacts!=''">
                and dcontacts like '%${dcontacts}%'
            </if>
            <if test="daccountstate!=null and daccountstate!=''">
                and daccountstate = #{daccountstate}
            </if>
        </where>
    </select>

    <update id="delDSC" parameterType="java.util.List">
        update drivingschool set daccountstate="3" where did in
        <foreach collection="list" index="index" item="item" separator=","  open="(" close=")">
            #{item.did}

        </foreach>
    </update>

    <select id="querySTUpj" parameterType="map" resultMap="empmap">
        select  d.did,e.* ,c.cname,c.caccount from  drivingschool d,examination e,consumer c
        <where>
            and d.did=e.did and c.cid=e.cid
            <if test="did!=null and did!='' ">
                and  d.did =#{did}
            </if>
        </where>

    </select>


    <resultMap id="empmap" type="com.drivingsys.bean.Examination">
        <result property="cid" column="cid"/>
        <result property="did" column="did"/>
        <result property="edrivingscore" column="edrivingscore"/>
        <result property="edrivingcontent" column="edrivingcontent"/>
        <collection property="consumer" column="cid" ofType="com.drivingsys.bean.Consumer"  javaType="java.util.ArrayList">
            <result property="cname" column="cname"/>
            <result property="caccount" column="caccount"/>
<!--            <result property="daxiao" column="daxiao"/>-->
<!--            <result property="uid" column="uid"/>-->
<!--            <result property="lujinng" column="lujinng"/>-->
        </collection>
    </resultMap>

<select id="echaretstest" resultType="com.drivingsys.bean.echartstest.echaretsDSC">

SELECT COUNT(practise.pid) as renshu
,pdrivingid,drivingschool.dname
FROM practise, drivingschool
WHERE practise.pdrivingid=did
GROUP BY pdrivingid;

</select>
    <select id="queryqianDSC" resultType="com.drivingsys.bean.Drivingschool" parameterType="map">
        select * from drivingschool
        <where>
            <if test="province!=null and province.trim()!=''">
                and dprovince = #{province}
            </if>
            <if test="city!=null and city.trim()!=''">
                and dcity = #{city}
            </if>
            <if test="county!=null and county.trim()!=''">
                and darea = #{county}
            </if>
        </where>
        limit 0,10
    </select>

    <!--	<select id="queryCoachByMySchoolCount" resultType="long" parameterType="long">-->
    <!--	    select  count(*) from  practise where  pdrivingid =#{pdrivingid}-->
    <!--	</select>-->


    <!--	<select id="findAll" parameterType="com.example.demo.MyInf.Myuser" resultType="com.example.demo.MyInf.Myuser">-->
    <!--		select * from myuser where 1=1-->
    <!--		<if test="username!=null and username!=''">-->
    <!--			and username like '%${username}%'-->
    <!--		</if>-->
    <!--		<if test="password!=null and password!=''">-->
    <!--			and password = #{password}-->
    <!--		</if>-->
    <!--		<if test="id!=null and id!=''">-->
    <!--			and id like '%${id}%'-->
    <!--		</if>-->
    <!--		<if test="state!=null and state!=''">-->
    <!--			and state = #{state}-->
    <!--		</if>-->
    <!--	</select>-->
</mapper>
	